.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width:100%;
    height:400px;
    display: block;
}
#abc {
    width: 100%;
    padding-left: 0px; 
    padding-right: 0px;
    
}
.imag{
    height: 100px;
}
#box11-options,#box21-options,#box31-options,#box41-options{
    height: 250px;
    width: 250px;
    margin-left: 100px;
    margin-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 2px 2px 2px 2px black;
}
#box12-options,#box22-options,#box32-options,#box42-options{
    height: 250px;
    width: 250px;
    margin-left: 45vw;
    margin-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 2px 2px 2px 2px black;
}

/*temp*/